.btn {
  background-color: var(--figma-base-palette-eve-turquoise-10);
  padding: 0.5rem 1.5rem;
  color: var(--figma-base-palette-eve-turquoise-100);
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 0.25rem;
}

.btn:hover {
  background-color: var(--figma-base-palette-eve-turquoise-70);
}

.btn:focus {
  outline: 2px solid var(--figma-base-palette-eve-turquoise-05);
  outline-offset: 2px;
}

.btn:active {
  box-shadow: inset 0 0 0px 2px var(--figma-base-palette-eve-turquoise-100);
}

.btn[outline] {
  background-color: var(--figma-base-palette-eve-turquoise-100);
  border: 1px solid var(--figma-base-palette-eve-orange-10);
}

.btn[outline]:hover {
  background-color: var(--figma-primitive-primitive-color-purple-90);
}

.btn[disabled] {
  background-color: var(--figma-primitive-primitive-color-purple-20);
}
